---
interface Props {
  postId: string;
}
const { postId } = Astro.props;
---

<post-comments data-postid={postId}>
  <div class="u-flex u-flex-vertical u-gap-16">
    <hr style="border-bottom: 0.05rem solid hsl(var(--color-border))" />
    <form
      class="form u-width-full-line u-flex u-flex-vertical u-gap-16"
      style="display: none;"
    >
      <ul class="form-list">
        <li class="form-item">
          <label class="label">Comments</label>
          <input name="content" type="text" class="input-text" />
        </li>
      </ul>
      <button class="button u-cross-child-end" type="submit">Add Comment</button
      >
    </form>
    <ul class="list"></ul>
  </div>
</post-comments>

<script>
  import { AppwriteException, ID, Query } from "appwrite";
  import { atom, WritableAtom } from "nanostores";
  import sanitizeHtml from "sanitize-html";
  import {
    appwriteClient,
    appwriteDatabases,
    BlogComment,
    user$,
  } from "../lib/appwrite";

  class Comments extends HTMLElement {
    postId: string = "";
    comments$: WritableAtom<BlogComment[]> = atom([]);

    constructor() {
      super();
      if (!this.dataset.postid) return;
      this.postId = this.dataset.postid;

      // Only show comments for users logged in.
      this.showUsers();
    }

    async showUsers() {
      user$.subscribe((user) => {
        // Display the form only for logged-in users
        if (user) {
          this.querySelector("form")?.style.setProperty("display", "flex");
          this.setupRealtimeComments();
          this.addCommentInput();
        }

        // All users get comments
        this.loadComments();
        this.subscribeComments();
      });
    }

    addCommentInput() {
      const formElement: HTMLFormElement | null = this.querySelector("form");
      if (!formElement) return;

      formElement.addEventListener("submit", async (e) => {
        e.preventDefault();
        const commentInputElement: HTMLInputElement | null =
          formElement.querySelector('input[name="content"]');
        if (commentInputElement) {
          const formData = new FormData(formElement);
          try {
            await appwriteDatabases.createDocument(
              import.meta.env.PUBLIC_APPWRITE_DB_ID,
              import.meta.env.PUBLIC_APPWRITE_COMMENTS_ID,
              ID.unique(),
              { ...Object.fromEntries(formData), postId: this.postId }
            );
            commentInputElement.value = "";
          } catch (error) {
            const appwriteError = error as AppwriteException;
            alert(appwriteError.message);
          }
        }
      });
    }

    async loadComments() {
      try {
        const comments = await appwriteDatabases.listDocuments(
          import.meta.env.PUBLIC_APPWRITE_DB_ID,
          import.meta.env.PUBLIC_APPWRITE_COMMENTS_ID,
          [Query.equal("postId", this.postId), Query.orderDesc("$createdAt")]
        );
        this.comments$.set(comments.documents as BlogComment[]);
      } catch (error) {
        const appwriteError = error as AppwriteException;
        alert(appwriteError.message);
      }
    }

    async handleCreateEvent(updatedComment: BlogComment) {
      // Append new payload to the list
      this.comments$.set([...[updatedComment], ...this.comments$.get()]);
    }

    async handleUpdateEvent(updatedComment: BlogComment) {
      // Find payload item and update
      const comments = this.comments$.get();
      this.comments$.set([
        ...comments.map((c) =>
          c.$id === updatedComment.$id ? updatedComment : c
        ),
      ]);
    }

    async handleDeleteEvent(updatedComment: BlogComment) {
      // Find and remove payload item
      const comments = this.comments$.get();
      this.comments$.set([
        ...comments.filter((c) => c.$id !== updatedComment.$id),
      ]);
    }

    async subscribeComments() {
      this.comments$.listen((commentEvent) => {
        const commentsElement: HTMLUListElement | null =
          this.querySelector(".list");
        if (commentsElement) {
          commentsElement.replaceChildren();
          commentEvent.map((c) => {
            const commentItem = `<li class="list-item" data-postid="${c?.$id}">
    <span class="icon-chat" aria-hidden="true"></span>
    <span class="text">${sanitizeHtml(c?.content)}</span>
  </li>`;
            commentsElement.insertAdjacentHTML("beforeend", commentItem);
          });
        }
      });
    }

    async setupRealtimeComments() {
      const event = `databases.${
        import.meta.env.PUBLIC_APPWRITE_DB_ID
      }.collections.${import.meta.env.PUBLIC_APPWRITE_COMMENTS_ID}.documents`;
      try {
        appwriteClient.subscribe(event, (response) => {
          const updatedComment: BlogComment = response.payload as BlogComment;
          if (updatedComment.postId !== this.postId) {
            return;
          }

          if (
            response.events.includes(`${event}.${updatedComment.$id}.create`)
          ) {
            this.handleCreateEvent(updatedComment);
          } else if (
            response.events.includes(`${event}.${updatedComment.$id}.update`)
          ) {
            this.handleUpdateEvent(updatedComment);
          } else if (
            response.events.includes(`${event}.${updatedComment.$id}.delete`)
          ) {
            this.handleDeleteEvent(updatedComment);
          }
        });
      } catch (error) {
        const appwriteError = error as AppwriteException;
        alert(appwriteError.message);
      }
    }
  }
  customElements.define("post-comments", Comments);
</script>
