---
import AdminButtons from "../components/AdminButtons.astro";
import Comments from "../components/Comments.astro";

import type { BlogPost as BlogPostType } from "../lib/appwrite";
type Props = BlogPostType;

const post = Astro.props;
const { $id, $updatedAt, $createdAt, title, content, description, imageurl } =
  post;
---

<article class="u-flex u-flex-vertical u-gap-16">
  {imageurl?.length > 0 ? <img width={720} src={imageurl} alt="" /> : null}
  <h1 class="heading-level-1" style="position:relative;">
    {title}
    <AdminButtons poststring={JSON.stringify(post)} />
  </h1>
  <div class="u-flex u-gap-8">
    {
      $updatedAt && (
        <div>
          Last updated on{" "}
          <time>{new Date($updatedAt).toLocaleDateString()}</time>
        </div>
      )
    }
    {$createdAt && <time>{new Date($createdAt).toLocaleDateString()}</time>}
  </div>
  <hr style="border-bottom: 0.05rem solid hsl(var(--color-border))" />
  {content}
</article>
<section class="u-margin-block-start-32">
  <Comments postId={$id} />
</section>
